$color_primary: #8774e1;
$color_success: #4ad295;
$color_error: #ff7474;
$color_warning: #ffa200;

$body_bgColor: #212121;

$font_colorPrimary: #ffffff;
$font_familyPrimary: 'Roboto', sans-serif;
$font_sizePrimary: 16px; 
